---
import PageLayout from '../layouts/Page.astro'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div>
    <div class="text-center">
      <div class="font-mono text-9xl">404</div>
      <div>Not found....</div>
    </div>
    <div class="mx-10 text-center">
      <p>やあ、そこの学習者よ。道を間違えてしまったようだな。ここには何もない。引き返すんだ、学習者よ</p>
      <a class="underline" href="/">引き返す</a>
    </div>
  </div>
</PageLayout>
