---
import PageLayout from '../layouts/Page.astro'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div>
    <div class="text-center font-mono">
      <div class="text-9xl">500</div>
      <div class="text-xl font-bold">Internal Server Error</div>
    </div>
    <div class="mx-10 text-center">
      <p>ドンガラガッシャーン</p>
      <p>
        ...サーバー内でエラーが起きているようだ。なんらかの障害が起こっている。もし君がGitHubアカウントを持っているなら、
        <a href="https://github.com/nakasyou/nanohanote-astro/issues/new" class="link underline">ここ</a>でIssueを立ててくれ。
      </p>
    </div>
  </div>
</PageLayout>
