---
import PageLayout from '../layouts/Page.astro'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div>
    <div class="text-center font-mono">
      <div class="text-9xl">500</div>
      <div class="text-xl font-bold">Internal Server Error</div>
    </div>
    <div class="mx-10 text-center">
      <p>エラーが発生しました</p>
    </div>
  </div>
</PageLayout>
