---
import BaseLayout from '../layouts/Base.astro'
---
<BaseLayout title="Creating" description='nanohanote'>
  <div>Creating...</div>
</BaseLayout>
<script>
  location.href = "/notes/" + crypto.randomUUID()
</script>