---
import PageLayout from '../layouts/Page.astro'
import NanohaNoteLogo from './assets/NanohaNote.svg'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div>
    <div>
      <div>
        <img src={ NanohaNoteLogo } class="mx-auto" />
      </div>
      <div class="text-center">NanohaNoteは、「じぶん」で作る学習用ノートブックです。</div>
    </div>
  </div>
</PageLayout>
