---
import PageLayout from '../layouts/Page.astro'
import NanohaNoteLogo from '../assets/NanohaNote.svg'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div class="bg-background text-on-background">
    <div>
      <div>
        <img src={ NanohaNoteLogo } class="mx-auto" />
      </div>
      <div class="text-center">NanohaNoteは、「じぶん」で作る学習用ノートブックです。</div>
      <div class="flex justify-center m-2">
        <a href="/create-note" class="button-outlined">ノートを作成する</a>
      </div>
    </div>
  </div>
</PageLayout>
