---
import PageLayout from '../layouts/Page.astro'
import NanohaNoteLogo from '../components/Logo.astro'
import nanohaNotePlayingImage from '../assets/home/nanohanote-playing.png'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div class="">
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 h-full items-center px-10">
        <div class="text-4xl font-bold">
          <div>完璧な'暗記'を</div>
          <div>あなたへ</div>
          <div class="text-primary">NanohaNote</div>
        </div>
        <div class="hidden md:block">
          <img src={nanohaNotePlayingImage} class="w-full h-full object-cover m-10" />
        </div>
      </div>
      <div class="flex justify-center">
        <NanohaNoteLogo />
      </div>
      <div class="text-center">NanohaNoteは、「じぶん」で作る学習用ノートブックです。</div>
      <div class="flex justify-center m-2">
        <a href="/create-note" class="outlined-button">ノートを作成する</a>
      </div>
    </div>
    <div class="mx-4 flex flex-col gap-4">
      <div>
        <div class="text-2xl">暗記、辛いですか？</div>
        <p>テスト前の暗記という(人によっては)退屈な作業。<br />暗記を、簡単に、素早く行いましょう！</p>
      </div>
      <div>
        <div class="text-2xl">NanohaNoteとは？</div>
        <p>
          一言で言えば、デジタル赤シートです。<br />
          二言で言えば、「じぶん」でつくる、暗記用デジタルノートブックです。<br />
          あなたの暗記をサポートします！
        </p>
      </div>
    </div>
  </div>
</PageLayout>
