---
import PageLayout from '../layouts/Page.astro'
import NanohaNoteLogo from '../components/Logo.astro'
---
<PageLayout title="NanohaNote" description="NanohaNote Top">
  <div class="">
    <div>
      <div class="text-center">
        <NanohaNoteLogo />
      </div>
      <div class="text-center">NanohaNoteは、「じぶん」で作る学習用ノートブックです。</div>
      <div class="flex justify-center m-2">
        <a href="/create-note" class="outlined-button">ノートを作成する</a>
      </div>
    </div>
  </div>
</PageLayout>
