---
import PageLayout from '../layouts/Page.astro'
---
<PageLayout title="Privacy Policy | Nanoha" description="Nanohaのプライバシーポリシー">
  <div class="px-5 py-2">
    <div class="text-2xl">Nanoha プライバシーポリシー</div>
    <hr class="my-1" />
    <div>
      <div>
        このサイト上で提供する、このサービス「Nanoha」(以下、「本サービス」)は、以下のようにユーザーのプライバシーを尊重します。
        <br/>
        個人情報の扱いは注意をもって行うものとします。
      </div>
      <div>
        <div class="text-xl my-1">収集する情報</div>
        <div class="indent-1">
          本サービスが収集する可能性のある情報は以下のとおりです。
          <ul class="list-disc list-inside">
            <li>
              ユーザーの使用状況。この情報は、Google社によるGoogle Analytisによって収集されます。
            </li>
            <li>
              エラー等の発生時のログおよびデータ。この情報には、個人を特定する情報は含まれません。
            </li>
          </ul>
          また、本サービスを運営するために使用している、Cloudflare Pagesの運営であるCloudflare社は、ユーザーの情報を収集することが可能です。
        </div>
      </div>
      <div>
        <div class="text-xl my-1">免責事項</div>
        <div class="indent-1">
          本サービスにおいて、利用上の不具合に関しては修正や対応を行いますが、万が一利用者が本サービスを利用して損害が生じた場合、一切の責任を開発者は負わないものとします。
        </div>
      </div>
    </div>
  </div>
</PageLayout>