---
import {
  IconBrandGithub
} from '@tabler/icons-react'
---
<div class="bg-on-surface text-surface">
  <div class="mx-5">
    <div class="flex">
      <a href='https://github.com/nakasyou/NanohaNote'><IconBrandGithub /></a>
    </div>
    <div class="text-center">&copy; 2023 Shotaro Nakamura. MIT LICENSED.</div>
  </div>
</div>
