---
import { icon } from '../utils/icons'
---
<div class="bg-surface-container text-surface-container">
  <div class="mx-5">
    <div class="grid grid-cols-2">
      <div>
        <div class="font-bold">SOCIAL</div>
        <div class="grid grid-cols-4">
          <a href='https://github.com/nakasyou/nanoha' title="GitHub" class="w-10 h-10" set:html={icon('brandGithub')} />
        </div>
      </div>
      <div>
        <div class="font-bold">LINKS</div>
        <div class="flex flex-col">
          <a href='/privacy' class="underline hover:no-underline">Privacy Poricy</a>
        </div>
      </div>
    </div>
    <div class="text-center">&copy; 2023 Shotaro Nakamura. MIT LICENSED.</div>
  </div>
</div>
