---
import IconBrandGithub from '@tabler/icons-svelte/dist/svelte/icons/IconBrandGithub.svelte'
---
<div class="bg-on-surface text-surface">
  <div class="mx-5">
    <div class="grid grid-cols-2">
      <div>
        <div class="font-bold">SOCIAL</div>
        <div class="grid grid-cols-4">
          <a href='https://github.com/nakasyou/NanohaNote'><IconBrandGithub /></a>
        </div>
      </div>
    </div>

    <div class="text-center">&copy; 2023 Shotaro Nakamura. MIT LICENSED.</div>
  </div>
</div>
