---
import Icon from "../assets/icon.svg"
---
<header class="w-full flex top-0 sticky bg-white dark:bg-slate-950 dark:text-white border-b-2 border-inherit">
  <div class="mx-5 my-2 flex justify-between items-center">
    <div class="flex items-center">
      <a href="/" class="flex items-center gap-2">
        <img src={ Icon } alt="NanohaNote icon" class="w-10 h-10" />
        <div class="text-xl">NanohaNote</div>
      </a>
    </div>
    <div>
      <div>
        <a htef='https://github.com/nakasyou/NanohaNote' class="underline hover:no-underline">⭐️Star on GitHub</a>
      </div>
    </div>
  </div>
</header>
