---
import Icon from "../assets/icon.svg"
---
<header class="w-full flex drop-shadow-xl top-0 sticky">
  <div>
    <a href="/">
      <img src={ Icon } alt="NanohaNote icon" />
    </a>
  </div>
</header>
