---
import Icon from "../assets/icon.svg"
---
<header class="w-full flex drop-shadow-xl top-0 sticky">
  <div class="mx-5 flex items-center">
    <a href="/">
      <img src={ Icon } alt="NanohaNote icon" class="w-8 h-8" />
    </a>
    <div>
      <div class="text-xl font-bold">NanohaNote</div>
    </div>
  </div>
</header>
