---
import App from '../../layouts/App.astro'
import { CreateNote } from '../../islands/app/CreateNote.qwik'
import { NoteList } from '../../islands/note-list/list.qwik'

//export const prerender = true
---
<App title="Notes | Nanoha" description="Notes | Nanoha" useViewTransitions={true} bodyClass="text-on-background bg-background">
  <div class="px-5 py-2 h-[100dvh] overflow-auto">
    <div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-0">
        <div class="text-2xl">すべてのノート</div>
      </div>
      <NoteList />
    </div>
  </div>
  <CreateNote />
</App>
