---
import Base from './Base.astro'
import { Navbar } from '../islands/app/navbar'
---
<Base title="Notes | Nanoha" description="Notes | Nanoha" useViewTransitions={true} bodyClass="text-on-background bg-background">
  <div class="flex flex-col md:flex-row">
    <div class="px-5 py-2 h-[100dvh] overflow-auto grow">
      <slot />
    </div>
  </div>
</Base>
