---
import { icon } from '../utils/icons'
import Base from './Base.astro'
---

<Base
  title="Notes | Nanoha"
  description="Notes | Nanoha"
  useViewTransitions={true}
  bodyClass="text-on-background bg-background h-dvh"
>
  <div class="flex flex-col lg:flex-row-reverse h-full">
    <div class="px-5 py-2 overflow-auto grow h-full flex-1">
      <div class="">
        <slot />
      </div>
    </div>
    <div class="grid grid-cols-2 lg:grid-rows-2 lg:grid-cols-1 place-items-center">
      <a href="/app" title="Home">
        <div set:html={icon('home')} class="w-10 h-10" /> 
      </a>
      <a href="/app/settings" title="Home">
        <div set:html={icon('settings')} class="w-10 h-10" /> 
      </a>
    </div>
  </div>
</Base>
