---
interface Props {
  title: string
  description: string
  bodyClass?: string
}

const userAgent = (Astro.request.headers.get('User-Agent') ?? '').toLowerCase()
const isPhone = userAgent.includes('android')
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Astro.props.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>

    {
      isPhone && import.meta.env.DEV && <>
        <script is:inline src="//cdn.jsdelivr.net/npm/eruda"></script>
        <script is:inline>eruda.init();</script>
      </>
    }
  </head>
  <body class={Astro.props.bodyClass || ""}>
    <slot />
  </body>
</html>
