---
import BaseLayout, { type Props } from "./Base.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

export type Props = Props
---
<BaseLayout {...Astro.props} bodyClass="dark:text-white dark:bg-slate-800">
  <div class="">
    <Header />
    <slot />
    <Footer />
  </div>
</BaseLayout>
