---
import type { Props as HeaderProps } from '../components/Header.astro'
import Header from '../components/Header.astro'
import BaseLayout, { type Props as BaseProps } from './Base.astro'

export type Props = BaseProps & {
  headerSticky?: HeaderProps['headerSticky']
}
---
<BaseLayout {...Astro.props} bodyClass="dark:text-white dark:bg-slate-800">
  <div class="">
    <Header headerSticky={Astro.props.headerSticky ?? 'sticky'}/>
    <slot />
  </div>
</BaseLayout>
