---
import BaseLayout, { type Props } from "./Base.astro"
import Header from "../components/Header.astro"

export type Props = Props
---
<BaseLayout {...Astro.props} bodyClass="bg-background text-on-background">
  <div class="bg-background text-on-background">
    <Header />
    <slot />
  </div>
</BaseLayout>
