---
import BaseLayout, { type Props as BaseProps } from "./Base.astro"
import type { Props as HeaderProps } from "../components/Header.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

export type Props = BaseProps & {
  headerSticky?: HeaderProps['headerSticky']
}
---
<BaseLayout {...Astro.props} bodyClass="dark:text-white dark:bg-slate-800">
  <div class="">
    <Header headerSticky={Astro.props.headerSticky ?? 'sticky'}/>
    <slot />
    <Footer />
  </div>
</BaseLayout>
